@page "/ParentComponent"


<h1 class="text-danger">Parent Child Component</h1>
<CascadingValue Value="@messageForGrandChild">
    <ChildComponent OnClickBtnMethod="ShowMessage" Title="This title is passed as parameter from Parent Component">
        @*<ChildContent>Render Fragement From Parent! WooHOO!</ChildContent>*@
        <DangerChildContent>Danger Content from Render Fragement! WooHOO!</DangerChildContent>

    </ChildComponent>
</CascadingValue>
<AnotherChildComponent placeholder="Placeholder default"></AnotherChildComponent>


<p><b>@messageText</b></p>


@code {


    private string messageForGrandChild = "This is a meesage from Grand Parent";
    private string messageText = "";

    private void ShowMessage(MouseEventArgs e)
    {
        messageText = "Blazzing text from parent";
    }
}
