@page "/ParentComponent"


<h1 class="text-danger">Parent Child Component</h1>

<ChildComponent Title="This title is passed as parameter from Parent Component">

    Render Fragement From Parent! WooHOO!
</ChildComponent>

<ChildComponent Title="This is second child component">

</ChildComponent>

@code {

}
