@page "/success-payment"
@inject ILocalStorageService localStorage
@inject IRoomOrderDetailsService roomOrderDetailService
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = SD.Role_Customer)]

<div class="container">
    @if (!IsPaymentComplete)
    {
        <div style="position:fixed;top:50%;left:50%;margin-top:-50px;margin-left:-100px;">
            <img src="images/ajax-loader.gif" />
        </div>
    }
    else
    {
        <div class="row mt-4 pt-4">
            <div class="col-10 offset-1 text-center">
                <h2 class="text-warning">Booking Confirmed</h2>
                <p>Your room has been booked successfully with order id @OrderId</p>
            </div>
            <div class="col-8 offset-2">
                <img src="/images/confirmation.jpg" width="100%" style="border-radius:30px;" />
            </div>
        </div>
    }
</div>

@code {
    private bool IsPaymentComplete { get; set; } = false;
    private int OrderId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var orderDetails = await localStorage.GetItemAsync<RoomOrderDetailsDTO>(SD.Local_RoomOrderDetails);
        OrderId = orderDetails.Id;

        var FinalRoomOrderDetails = await roomOrderDetailService.MarkPaymentSuccessful(orderDetails);
        if (FinalRoomOrderDetails.Status == SD.Status_Booked)
        {
            await localStorage.RemoveItemAsync(SD.Local_RoomOrderDetails);
            await localStorage.RemoveItemAsync(SD.Local_InitialBooking);

            IsPaymentComplete = true;
        }
    }
}
