<div class="border mt-2">
    <div class="row">
        <h4 class="text-primary pl-4 pt-2 col-12">Grand Child Component</h4>
    </div>
    <div class="row">
        <p class="pl-4 ml-2"> There is a message - @MessageForGrandChild </p>
        <p class="pl-4 ml-2"> Lucky Number - @LuckyNumberFromGrandParent </p>
    </div>
</div>
@code {
    [CascadingParameter(Name = "MessageFromGrandParent")]
    public string MessageForGrandChild { get; set; }

    [CascadingParameter(Name = "GrandParentsLuckyNumber")]
    public string LuckyNumberFromGrandParent { get; set; }
}
