@using HiddenVilla_Server.Model

<div class="bg-light border p-2 col-5 offset-1" @onclick="(args)=> AmenitySelectionChanged(args,Amenities.Name)">
    <h4 class="text-secondary">Amenities - @Amenities.Id</h4>

    @Amenities.Name<br />
    @Amenities.Description<br />
    RF from Parent - @FirstFragment @SecondFragment
</div>

@code {

    [Parameter]
    public BlazorAmenities Amenities { get; set; }

    [Parameter]
    public EventCallback<string> OnAmenitySelection { get; set; }


    [Parameter]
    public RenderFragment FirstFragment { get; set; }
    [Parameter]
    public RenderFragment SecondFragment { get; set; }

    protected async Task AmenitySelectionChanged(MouseEventArgs e, string name)
    {
        await OnAmenitySelection.InvokeAsync(name);
    }
}
