<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">HiddenVilla_Server</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="bindProp">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Bind Properties
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="demoHotel">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Demo Hotel
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="lifecycle">
                <span class="oi oi-list-rich" aria-hidden="true"></span> LifeCycle
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ParentComponent">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Parent/Child Relation
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="LearnRouting">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Learn Routing
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="blazorjs">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Learn JS in Blazor
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="hotel-room" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Hotel Rooms
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="hotel-amenity">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Hotel Amenity
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="hotel-room-order">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Hotel Room Order's
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
